@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0b0d12;
  color: #e7e9ee;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #232834;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
